/*Importar las fuentes*/
@font-face {
    font-family: "yanone";
    src: url(fonts/yanone.ttf);
}

@font-face {
    font-family: "finger";
    src: url(fonts/finger.ttf);
}

@font-face {
    font-family: "titilium";
    src: url(fonts/titilium.ttf);
}

@font-face {
    font-family: "kanit";
    src: url(fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: "RobotoL";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "RobotoR";
    src: url(fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: "Agdasima";
    src: url(fonts/Agdasima-Regular.ttf);
}


@font-face {
    font-family: "AgdasimaBold";
    src: url(fonts/Agdasima-Bold.ttf);
}

@font-face {
    font-family: "ArchivoBold";
    src: url(fonts/Archivo-Bold.ttf);
}

@font-face {
    font-family: "ReemKufiFunBold";
    src: url(fonts/ReemKufiFun-Bold.ttf);
}

@font-face {
    font-family: "ReemKufiFunMedium";
    src: url(fonts/ReemKufiFun-Medium.ttf);
}

@font-face {
    font-family: "ReemKufiFunRegular";
    src: url(fonts/ReemKufiFun-Regular.ttf);
}

@font-face {
    font-family: "ReemKufiFunSemiBold";
    src: url(fonts/ReemKufiFun-SemiBold.ttf);
}

@font-face {
    font-family: "NimbusSans";
    src: url(fonts/NimbusSanL-Reg.otf);
}

@font-face {
    font-family: "MontserratR";
    src: url(fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "MontserratL";
    src: url(fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: "MontserratB";
    src: url(fonts/Montserrat-Bold.ttf);
}




/*Estilos Generales*/


*{
    margin:0px;
    padding:0px;
}

body{
    font-family: "yanone";
    font-size: 20px;
    background-color: rgb(255, 239, 0);
    
    overflow-x: hidden;
      
}

.clearfix{
    float:none;
    clear:both;
}

/*Barra de navegacion / header*/

/*Contenedor Principal*/

#content{
    min-height: 1000px;
    height: auto;
    width: 100%;
    margin: 0px auto;
    background: rgba(0, 0, 0);
    
    color: rgb(255, 239, 0);
    font-family: Agdasima;
}

/*Pie de pagina*/



