/*Importar las fuentes*/
@font-face {
    font-family: "yanone";
    src: url(fonts/yanone.ttf);
}

@font-face {
    font-family: "finger";
    src: url(fonts/finger.ttf);
}

@font-face {
    font-family: "titilium";
    src: url(fonts/titilium.ttf);
}

@font-face {
    font-family: "kanit";
    src: url(fonts/Kanit-Regular.ttf);
}

@font-face {
    font-family: "RobotoL";
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: "RobotoR";
    src: url(fonts/Roboto-Regular.ttf);
}


@font-face {
    font-family: "Agdasima";
    src: url(fonts/Agdasima-Regular.ttf);
}


@font-face {
    font-family: "AgdasimaBold";
    src: url(fonts/Agdasima-Bold.ttf);
}



/*Estilos Generales*/


*{
    margin:0px;
    padding:0px;
}

body{
    font-family: "yanone";
    font-size: 20px;
    background-color: rgb(255, 239, 0);
    
    overflow-x: hidden;
      
}

.clearfix{
    float:none;
    clear:both;
}

/*Barra de navegacion / header*/

/*Contenedor Principal*/

#content{
    min-height: 1000px;
    height: auto;
    width: 100%;
    margin: 0px auto;
    box-shadow:1px 1px 20px 10px black;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    background: rgba(0, 0, 0);
    
    color: rgb(255, 239, 0);
    font-family: Agdasima;
}

/*Pie de pagina*/

footer{
    width: 75%;
    margin: 0px auto;
    padding-top: 20px;
    color:rgba(0,0,0,0.5);
}


