<footer>
    <div class="footer">
        <div class="div1">
            <div>
                <img src="../../../assets/img/LogoFuncionalCrossFavicon.png" alt="">
            </div>
            <div>
                Funcional Cross Elche es un espacio completamente equipado en el Polígono Empresarial de Elche, donde podrás realizar tus sesiones de entrenamiento en un ambiente acogedor.</div>
        </div>
        <div class="div2">Información del Gimnasio
            
        </div>
        <div class="div3">Atención al cliente</div>
    </div>
</footer>