<footer>
    <div class="footer">
        <div class="div1">
            <div>
                <img src="../../../assets/img/LogoFuncionalCrossFavicon.png" alt="">
            </div>
            <div>
                Funcional Cross Elche es un espacio completamente equipado en el Polígono Empresarial de Elche, donde podrás realizar tus sesiones de entrenamiento en un ambiente acogedor.</div>
        </div>
        <div class="div2">Información del Gimnasio
            <div class="ubicacion">
                <div class="img-ubicacion"><img src="../../../assets/img/pasador-de-ubicacion.png" alt=""></div>
                <div class="texto-ubicacion"><a href="https://goo.gl/maps/xJr6S9VDiJMbe9kQ9">Parque Empresarial, Calle Martin y, C. Martín Soler, 10, 1º planta, derecha, 03203 Elche, Alicante</a></div>
            </div>
            <div class="horario">
                <div class="img-horario"><img src="../../../assets/img/reloj.png" alt=""></div>
                <div class="texto-horario"><span>Lunes</span> a <span>Viernes</span> de 6:00 a 23:00h. <span>Sábados</span> 9:00 a 14:00</div>
            </div>
            <div class="telefono">
               
                <div class="img-telefono"><img src="../../../assets/img/llamada-telefonicaicon.png" alt=""></div>
                <div class="texto-telefono"><a href="tel:+34649052589">(+34) 649 052 589</a></div>
            </div>
            <div class="email">
                <div class="img-email"><img src="../../../assets/img/comentario.png" alt=""></div>
                <div class="texto-email"><a href="mailto:ivanaltamirano@cambiar.com">ivanaltamirano@cambiar.com</a></div>
            </div>
        </div>
        <div class="div3">Atención al cliente
            <div id="atencion-cliente-footer">
                <div class="LunJue">
                    <div class="img-atencioncliente"><img src="../../../assets/img/reloj.png" alt=""></div>
                    <div class="texto"><span>LUN-JUE</span> 8:00-11:00h y 13:00-21:00h</div>
                </div>
                <div class="Viernes"> 
                    <div class="img-atencioncliente"><img src="../../../assets/img/reloj.png" alt=""></div>
                    <div class="texto"><span>VIE</span> 8:00-11:00h y 14:00-20:00h</div>
                    
                </div>
                <div class="FinDeSemana">
                    <div class="img-atencioncliente"><img src="../../../assets/img/reloj.png" alt=""></div>
                    <div class="texto"><span>SÁB</span> CERRADO</div>
                    
                </div>   
            </div>
        </div>
    </div>
</footer>