.foto-inicio {

    width: 100%;
    height: 1170px;
    background-image: url("../../../assets/img/FotoInicio.png");
    background-position: -40px -57px;
    background-size: 2000px;
    background-repeat: no-repeat;


}

.svg {
    position: absolute;
    top: 870px;
    right: 46%;
    z-index: 0;
}

.svg:hover {
    cursor: pointer;
}

.container-inicio {
    padding-top: 200px;
    padding-left: 12%;
}

.texto-principal {
    font-size: 48px;
    font-family: "ReemKufiFunBold";

}

.texto-secundario {
    padding-left: 3px;
    font-family: NimbusSans;
    letter-spacing: 8.5px;
}

.texto-bienvenida {
    padding-top: 200px;
    width: 500px;
    padding-left: 80px;

    font-size: 20px;
    font-family: MontserratB;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 2px;
}


.transicion {
    height: 214px;
    width: 100%;
    background-image: url(../../../assets/img/Transicion.png);
    background-position: 0px 248px;
}

.resto-inicio {
    position: relative;
    background: rgb(255, 239, 0);
    min-height: 1300px;
    color: black;
}

.resto-inicio .img1 {
    width: 300px;
    height: 200px;
    box-shadow:
        2.2px 1.3px 1.3px rgba(0, 0, 0, 0.037),
        5.4px 3.1px 3.2px rgba(0, 0, 0, 0.053),
        10.1px 5.9px 6px rgba(0, 0, 0, 0.065),
        18.1px 10.5px 10.7px rgba(0, 0, 0, 0.077),
        33.8px 19.6px 20.1px rgba(0, 0, 0, 0.093),
        81px 47px 48px rgba(0, 0, 0, 0.13);
}

.resto-inicio .img2 {
    width: 300px;
    height: 200px;
    box-shadow:
        -2.2px 1.3px 1.3px rgba(0, 0, 0, 0.037),
        -5.4px 3.1px 3.2px rgba(0, 0, 0, 0.053),
        -10.1px 5.9px 6px rgba(0, 0, 0, 0.065),
        -18.1px 10.5px 10.7px rgba(0, 0, 0, 0.077),
        -33.8px 19.6px 20.1px rgba(0, 0, 0, 0.093),
        -81px 47px 48px rgba(0, 0, 0, 0.13);
}

.titulo-resto-inicio {
    text-align: center;
    font-family: "MontserratB";
    padding-top: 10px;
}

.titulo-resto-inicio span {
    font-size: 30px;
    font-family: "ReemKufiFunBold";
   
}


.primera-foto {
    display: grid;
    grid-template-columns: 1fr 600px;

    position: absolute;
    top: 100px;
    left: 200px;

    background-color: transparent;
    border: none;

}


.parrafo {
    text-align: right;
}


.primera-foto .img {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 26px;
}

.primera-foto .parrafo {
    grid-column-start: 2;
    grid-column-end: 2;

    padding-left: 20px;

}

.primera-foto .parrafo .texto-parrafo {

    padding-left: 10px;
    padding-top: 20px;

    text-align: left;

}

.primera-foto .parrafo .titulo-parrafo {

    padding-left: 10px;
    padding-top: 20px;

    text-align: left;

}

.titulo-parrafo {
    font-family: AgdasimaBold;
    font-size: 30px;
}

.texto-parrafo {
    padding-top: 10px;
    text-align: justify;
    font-size: 22px;
}

.segunda-foto {
    display: grid;
    grid-template-columns: 600px 1fr;
    position: absolute;
    top: 400px;
    right: 200px;
}

.segunda-foto .img {
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    top: 20px;
}



.segunda-foto .parrafo {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: -210px;

    padding-right: 20px;
    padding-top: 20px;

}





.tercera-foto {
    display: grid;
    grid-template-columns: 1fr 600px;
    position: absolute;
    top: 700px;
    left: 200px;
}


.tercera-foto .img {
    grid-column-start: 1;
    grid-column-end: 1;
    padding-top: 26px;
}

.tercera-foto .parrafo {
    grid-column-start: 2;
    grid-column-end: 2;

    padding-left: 20px;

}


.tercera-foto .parrafo .texto-parrafo {
    padding-left: 10px;
    padding-top: 20px;

    text-align: left;
}

.tercera-foto .parrafo .titulo-parrafo {

    padding-left: 10px;
    padding-top: 20px;

    text-align: left;

}




.cuarta-foto {
    display: grid;
    grid-template-columns: 600px 1fr;
    position: absolute;
    top: 1000px;
    right: 200px;
}

.cuarta-foto .img {
    grid-column-start: 2;
    grid-column-end: 2;
    position: relative;
    top: 21px;
}

.cuarta-foto .parrafo {
    grid-column-start: 1;
    grid-column-end: 1;
    margin-top: -210px;

    padding-right: 20px;
    padding-top: 20px;
}

/*.segunda-foto {
    display:grid;
    grid-template-columns: 600px 1fr;
    position: absolute;
    top: 400px;
    right: 200px;
}

.segunda-foto .img{
    grid-column-start:2;
    grid-column-end:2;
}

.segunda-foto .parrafo{
    grid-column-start:1;
    grid-column-end:1;
    margin-top: -210px;

    padding-right: 20px;
    padding-top: 20px;

}
*/
















@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromLeft2 {
    0% {
        transform: translateX(-200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide {
    animation: slideInFromLeft 0.5s ease-out;
}

.animate-slide-right {
    animation: slideInFromRight 0.5s ease-out;
}

.animate-slide2 {
    animation: slideInFromLeft2 1s ease-out;
}


@media (max-width: 1669px) {

    .foto-inicio {

        background-position: 35% -57px;

    }

}

@media (max-width: 1569px) {

    .foto-inicio {

        background-position: 47% -57px;

    }

    .texto-bienvenida {
        padding-top: 200px;

        padding-left: 30px;

    }
}



@media (max-width: 1425px) {


    .texto-bienvenida {
        padding-top: 200px;

        padding-left: 0px;
        font-size: 20px;
    }
}

@media (max-width: 1375px) {


    .p-texto-bienvenida {


        padding-right: 90px;

    }
}



@media (max-width: 1330px) {

    .primera-foto,
    .tercera-foto {
        left: 100px;
    }

    .segunda-foto,
    .cuarta-foto {
        right: 100px;
    }

}


@media (max-width: 1160px) {



    .foto-inicio {
        background-image: url("../../../assets/img/FotoInicioMobile.png");
        background-position: 47% 87px;
    }

    .p-texto-bienvenida {


        padding-right: 250px;
        letter-spacing: 1px;

    }

}

@media (max-width: 1116px) {

    .primera-foto .parrafo,
    .tercera-foto .parrafo {
        padding-right: 20%;
    }

    .segunda-foto .parrafo,
    .cuarta-foto .parrafo {
        padding-left: 20%;
    }

}

@media (max-width: 987px) {

    .primera-foto .parrafo,
    .tercera-foto .parrafo {
        padding-right: 30%;
    }

    .segunda-foto .parrafo,
    .cuarta-foto .parrafo {
        padding-left: 30%;
    }

}

@media (max-width: 930px) {













    /*CARGARSE EL DISEÑO*/


    .primera-foto {
        all: unset;

    }


    .parrafo {
        all: unset;
    }


    .primera-foto .img {
        all: unset;
    }

    .primera-foto .parrafo {
        all: unset;
    }

    .primera-foto .parrafo .texto-parrafo {
        all: unset;
    }

    .primera-foto .parrafo .titulo-parrafo {
        all: unset;
    }

    .titulo-parrafo {
        all: unset;
    }

    .texto-parrafo {
        all: unset;
    }

    .segunda-foto {
        all: unset;
    }

    .segunda-foto .img {
        all: unset;
    }



    .segunda-foto .parrafo {
        all: unset;
    }

    .tercera-foto {
        all: unset;
    }


    .tercera-foto .img {
        all: unset;
    }

    .tercera-foto .parrafo {
        all: unset;
    }


    .tercera-foto .parrafo .texto-parrafo {
        all: unset;
    }

    .tercera-foto .parrafo .titulo-parrafo {
        all: unset;

    }

    .cuarta-foto {
        all: unset;
    }

    .cuarta-foto .img {
        all: unset;
    }

    .cuarta-foto .parrafo {
        all: unset;
    }





    /*Empezamos diseño Mobile*/
    .resto-inicio {
        height: 2150px;
    }

    .primera-foto,
    .segunda-foto,
    .tercera-foto,
    .cuarta-foto {
        display: grid;
        grid-template-rows: 1fr 60px;
        margin-top: 60px;
        margin-bottom: 180px;
        padding-left: 20%;
        padding-right: 20%;
    }

    .primera-foto .img,
    .segunda-foto .img,
    .tercera-foto .img,
    .cuarta-foto .img {
        margin: auto;

        padding-bottom: 20px;
    }

    .primera-foto .parrafo,
    .segunda-foto .parrafo,
    .tercera-foto .parrafo,
    .cuarta-foto .parrafo {
        display: grid;
        grid-template-rows: 45px 1fr;
    }


    .primera-foto .parrafo .titulo-parrafo,
    .segunda-foto .parrafo .titulo-parrafo,
    .tercera-foto .parrafo .titulo-parrafo,
    .cuarta-foto .parrafo .titulo-parrafo {

        font-family: AgdasimaBold;
        font-size: 30px;
        padding-bottom: 20px;
    }

    .resto-inicio .img2,
    .resto-inicio .img1 {
        box-shadow:
            2.1px 0px 0.6px rgba(0, 0, 0, 0.02),
            5.1px 0px 1.7px rgba(0, 0, 0, 0.028),
            9.6px 0px 3.7px rgba(0, 0, 0, 0.035),
            17.2px 0px 7.4px rgba(0, 0, 0, 0.042),
            32.2px 0px 15px rgba(0, 0, 0, 0.05),
            77px 0px 38px rgba(0, 0, 0, 0.07);

    }

    .primera-foto .parrafo .titulo-parrafo,
    .segunda-foto .parrafo .titulo-parrafo,
    .tercera-foto .parrafo .titulo-parrafo,
    .cuarta-foto .parrafo .titulo-parrafo {
        text-align: center;
    }



    .primera-foto .parrafo .texto-parrafo,
    .segunda-foto .parrafo .texto-parrafo,
    .tercera-foto .parrafo .texto-parrafo,
    .cuarta-foto .parrafo .texto-parrafo {
        text-align: justify;
        padding-left: 35px;
        padding-right: 35px;

    }


    .primera-foto{
        margin-bottom: 190px;
    }

    .segunda-foto{
        margin-bottom: 240px;
    }

    .tercera-foto{
        margin-bottom: 225px;
    }

    .cuarta-foto{
        margin-bottom: 225px;
    }




}
















@media (max-width: 845px) {


    .p-texto-bienvenida {

        display: none;

    }

}