<div class="foto-inicio">
    <div class="container-inicio">
        <div class="texto-principal">
            <p class="animate-slide">IVÁN ALTAMIRANO</p>
        </div>

        <div class="texto-secundario">
            <p class="animate-slide">ENTRENADOR PERSONAL</p>
        </div>
    </div>
    <svg (click)="scrollToInicio()" xmlns="http://www.w3.org/2000/svg" class="svg" width="48" height="48"
        viewBox="0 0 24 24">
        <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"
            style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 15px; stroke-dashoffset: 0px; stroke-dasharray: 0px; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);">
        </path>
    </svg>
</div>


<div class="container-servicios">
    <div>
        <div class="img-caja trofeo">
            <img src="../../../assets/img/trofeo.png" alt="">
        </div>
        <div class="texto">Título de campeón nacional de Argentina durante 4 años consecutivos</div>
    </div>
    <div>
        <div class="img-caja">
            <img src="../../../assets/img/pesa.png" alt="">
        </div>
        <div class="texto">Atleta internacional con la selección de Argentina</div>
    </div>
    <div>
        <div class="img-caja corredor">
            <img src="../../../assets/img/corriendo.png" alt="">
        </div>
        <div class="texto">4ª mejor marca nacional de todos los tiempos en 100 metros lisos</div>
    </div>
    <div>
        <div class="img-caja">
            <img src="../../../assets/img/banderas.png" alt="">
        </div>
        <div class="texto">Récord nacional en relevos 4x100</div>
    </div>
</div>


<div class="prueba">
    <div class="prueba2"></div>
</div>

<div class="container-ivan">
    ASDASD
</div>