<div class="foto-inicio">

    <div class="container-inicio">
        <div class="texto-principal">
            <p class="animate-slide">¿NECESITAS MAS INFORMACIÓN?</p>
        </div>

        <svg (click)="scrollToInicio()" xmlns="http://www.w3.org/2000/svg" class="svg" width="48" height="48"
            viewBox="0 0 24 24">
            <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"
                style="fill: rgb(255, 255, 255); transition: none 0s ease 0s; text-align: inherit; line-height: 26px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 300; font-size: 15px; stroke-dashoffset: 0px; stroke-dasharray: 0px; stroke-width: 0px; stroke: rgba(255, 255, 255, 0);">
            </path>
        </svg>
    </div>
</div>


<div class="container-form-contacto">
    <div class="titulo-contacto">
        ¿COMO PUEDES CONTACTARNOS?
    </div>
    <div class="container-brand-contacto">
        <div class="contacto-bloque">
            <div class="telefono divcontacto-bloque">
                <div class="img-telefono">
                    <a href="tel:+34649052589">
                        <img src="../../../assets/img/llamada-telefonicablack.png" alt="Telefono">
                    </a>
                </div>
                <div class="texto-container-contacto div-telefono">
                    <a href="tel:+34649052589">(+34) 649 052 589</a>
                </div>
            </div>
            <div class="email divcontacto-bloque">
                <div class="img-email">
                    <a href="mailto:ivanaltamirano@cambiar.com">
                        <img src="../../../assets/img/comentarioblack.png" alt="Correo">
                    </a>
                </div>
                <div class="texto-container-contacto">
                    <a href="mailto:ivanaltamirano@cambiar.com">ivanaltamirano@cambiar.com</a>
                </div>
            </div>
            <div class="instagram divcontacto-bloque">
                <div class="img-instagram">
                    <a href="https://www.instagram.com/info.funcionalcross/">
                        <img src="../../../assets/img/instagram.png" alt="Telefono">
                    </a>
                </div>
                <div class="texto-container-contacto">
                    <a href="https://www.instagram.com/info.funcionalcross/">info.funcionalcross</a>
                </div>
            </div>
            <div class="presencial divcontacto-bloque">
                <div class="img-presencial">
                    <a href="https://goo.gl/maps/xJr6S9VDiJMbe9kQ9">
                        <img src="../../../assets/img/pasador-de-ubicacionblack.png" alt="Ubicacion">
                    </a>
                </div>
                <div class="texto-container-contacto">
                    <a href="https://goo.gl/maps/xJr6S9VDiJMbe9kQ9">Presencialmente en nuestras instalaciones</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-encontrarnos">
        <div class="texto-encontrarnos">¿DONDE PUEDES ENCONTRARNOS?</div>
    </div>

    <div class="iframe">
        <div> </div>
        <div><iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3131.3176309627274!2d-0.6189280235936574!3d38.2953079820044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd63b5160766ae7d%3A0xc9abb5ed25f631be!2sFuncional%20Cross%20Gimnasio!5e0!3m2!1ses!2ses!4v1689095810895!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        <div></div>
    </div>
</div>